*, *::before, *::after {
   box-sizing: border-box;
 }

 container .content h1{
   font-size: 30px;
   color:#333;
}

container .content h1 span{
   background: crimson;
   color:#fff;
   border-radius: 5px;
   padding:0 15px;
}

/* Forms display */
.form_container{
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   padding:20px;
   padding-bottom: 60px;
   background: #eee;
}

.form_container form{
   padding:20px;
   border-radius: 5px;
   box-shadow: 0 6px 10px rgba(0,0,0,.1);
   background: #fff;
   text-align: center;
   width: 500px;
}

.form_container form h2{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 40px;
   text-transform: uppercase;
   margin-bottom: 10px;
   color:rgb(0, 0, 0);
}

.form_container form input,
.form_container form select{
   width: 100%;
   padding:10px 15px;
   font-size: 17px;
   margin:8px 0;
   background: #eee;
   border-radius: 5px;
   border: none;
}

.form_container form select option{
   background: #fff;
}

.form_container form .submit_btn{
   background: #fbd0d9;
   color:crimson;
   text-transform: capitalize;
   font-size: 20px;
   cursor: pointer;
}

.form_container form .submit_btn:hover{
   background: crimson;
   color:#fff;
}

.form_container form p{
   margin-top: 10px;
   font-size: 20px;
   color:rgb(0, 0, 0);
}

.form_container form p a{
   color:rgb(193, 8, 45);
}

.form_container form .error_message{
   margin:10px 0;
   display: block;
   background: crimson;
   color:#fff;
   border-radius: 5px;
   font-size: 20px;
   padding:10px;
}



 /* Nav bar 
header{
   background-color: #ffffff ;
   margin: -10px;
   text-align: center;
   position: fixed;
   width: 100%;
   z-index: 999;
}

@media screen and (min-width:1000px){
   header{
       display: flex;
       justify-content: space-between;
   }
}

nav{
   position: absolute;
   text-align: left;
   top: 100%;
   background-color: #d4d4d4;
   width: 100%;
   display: none;
}

@media screen and (min-width:1000px){
   nav{
       display: contents;
   }
}

nav ul{
   margin: 0;
   padding: 0;
   list-style: none;
}

@media screen and (min-width:1000px) {
   nav ul{
       display: flex;
       justify-content: space-evenly;
      }
}

nav li{
   color: aqua;
   margin-top: 1em;
   margin-bottom: 1em;
   margin-left: 1em;
}

@media screen and (min-width:1000px) {
   nav li{
       margin-top: 20px;
       margin-left: 20px;
       width: 100%;
   }
}

nav a {
   text-decoration: none;
   color: rgb(255, 0, 0);
   font-size: 1.2rem;
   text-transform: uppercase;
}

nav a:hover {
   color: rgb(252, 251, 255);
}

.nav_toggle:checked~nav {
   display: block;
}

.nav_toggle{
   display: none;
}

.nav_toggle_label{
   position: absolute;
   top: 0;
   left: 0;
   margin-left: 1em;
   height: 100%;
   display: flex;
   align-items: center;
   background-color: antiquewhite;
}

@media screen and (min-width:1000px) {
   .nav_toggle_label{
       display: none;
   }
}

.search_bar{
   position: relative;
   margin: auto;
   margin-left: 10px;
   height: 50%;
   background: rgba(255, 255, 255, 0.884);
   opacity: 80%;
   margin-right: 10px;
   border-top-left-radius: 25px;
   border-top-right-radius:25px ;
   border-bottom-left-radius: 25px;
   border-bottom-right-radius: 25px;
}

.search_bar::placeholder{
   text-align: center;
   font-size: 18px;
   margin-right: 25px;
}

#search_mag{
   position: absolute;
}*/